  .layout-transparent {
  background: url('./IMG_0934.JPG') center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

div.transbox
{
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */
}
div.transbox p
{
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

#namePlate{
	text-shadow: 2px 2px #000000;
	font-size: 42px;
	letter-spacing: 0.06em;
}

#comingSoon{
	align-self: center;
	height: 50%;
	text-shadow: 2px 2px #000000;
	font-size: 24px;
	color: white;
	padding-left: 80px;
}
